{% extends 'DdrGitkiBaseBundle::scaffold.html.twig' %}
{% block body %}
    <header>
        {% block navbar %}
            <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('ddr_gitki_base_homepage') }}">{{ ddr_gitki_name }}</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-collapse">
                        {% block navbar_left %}
                            <ul class="nav navbar-nav">
                                {% block navbar_left_content %}
                                    <li><a href="{{ path('ddr_gitki_history') }}">History</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b
                                                    class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('ddr_gitki_about_markdownsyntax') }}" rel="newtab">Markdown
                                                    Syntax</a></li>
                                            <li><a href="https://github.com/dontdrinkandroot/gitki.php/issues/"
                                                   rel="external">Issues</a></li>
                                        </ul>
                                    </li>
                                {% endblock %}
                            </ul>
                        {% endblock %}
                        {% block navbar_form %}
                            {{ include('DdrGitkiBaseBundle::navbar.form.partial.html.twig') }}
                        {% endblock %}
                        {% block navbar_right %}
                            <ul class="nav navbar-nav navbar-right">
                                {% block navbar_right_content %}
                                    {{ include('DdrGitkiBaseBundle::navbar.right.partial.html.twig') }}
                                {% endblock %}
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        {% endblock navbar %}
    </header>
    {% block abovecontainer %}
    {% endblock abovecontainer %}
    <div id="content" class="container">
        {% block container %}{% endblock container %}
    </div>
{% endblock %}