{% extends 'DdrGitkiBundle::scaffold.html.twig' %}
{% block title %} - Login{% endblock %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ 'header.connecting' | trans({}, 'HWIOAuthBundle') }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>

                <hr />

                <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }}
                      method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                        <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-link">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                    </div>
                </form>
            </div>

            <div class="col-md-6 text-center">
                {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                    <img src="{{ userInformation.profilePicture }}" class="img-responsive" />
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
