<div class="page-header">
    <h1>Your Profile</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    </div>
    <div class="col-md-6">
        <a class="btn btn-default btn-block" href="{{ path('fos_user_profile_edit') }}">Edit</a>
        <a class="btn btn-default btn-block" href="{{ path('fos_user_change_password') }}">Change Password</a>
    </div>
</div>

{#{% if hwi_oauth_resource_owners() %}#}
    {#<h2>Accounts</h2>#}
    {#<div class="row">#}
        {#<div class="col-md-6">#}
            {#<h3>Connected</h3>#}
            {#{% for owner in hwi_oauth_resource_owners() %}#}
                {#{% if connectedAcounts[owner] is defined %}#}
                    {#<a class="btn btn-default pull-right"><i class="fa fa-trash-o"></i></a>#}
                    {#<span class="fa fa-fw fa-{{ owner }}"></span>#}
                    {#{{ owner | trans({}, 'HWIOAuthBundle')|capitalize }}#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</div>#}
        {#<div class="col-md-6">#}
            {#<h3>Available</h3>#}
            {#{% for owner in hwi_oauth_resource_owners() %}#}
                {#{% if connectedAcounts[owner] is not defined %}#}
                    {#<a class="btn btn-default pull-right" href="{{ hwi_oauth_login_url(owner) }}"><i#}
                                {#class="fa fa-plus"></i></a>#}
                    {#<span class="fa fa-fw fa-{{ owner }}"></span>#}
                    {#{{ owner | trans({}, 'HWIOAuthBundle')|capitalize }}#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}
