{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block title %} - {{ path }} - Edit{% endblock %}
{% block body_class %}wiki edit page{% endblock %}
{% block actions %}
    <div class="btn-group pull-right global-actions">
        <a href="{{ path('ddr_gitki_about_markdownsyntax') }}" class="btn btn-default btn-sm"
           title="Syntax Help" rel="newtab"><span class="fa fa-question-circle"></span></a>
    </div>
{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}
    <div class="markdown-page">
        <div class="row editor">
            <div class="col-md-6">
                {{ form(form, { 'attr': {'class' : 'edit' }}) }}
            </div>
            <div class="col-md-6">
                <div id="preview">
                    <div class="loading-indicator">
                        <div class="spinner">
                            <span class="fa fa-refresh fa-spin"></span>
                        </div>
                    </div>
                    <div class="markdown-html"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function HoldLock(holdLockUrl) {

            var self = this;
            var timeOut = null;

            var refresh = function () {
                $.get(holdLockUrl)
                        .done(function (data) {
                            timeOut = window.setTimeout(refresh, 10000);
                        })
                        .fail(function (data) {
                            console.error(data);
                            alert("We are sorry. Holding the page lock failed (saving won't work anymore), copy your data to the clipboard, go back and try to reedit the page.")
                        });
            };

            this.cancel = function () {
                clearTimeout(timeOut);
            };

            refresh();
        }

        var holdLock = new HoldLock("{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'holdlock'}) }}");
    </script>
    <script type="text/javascript">
        $("form.edit").submit(function (event) {
            holdLock.cancel();
        });
    </script>
    <script type="text/javascript">

        var previewUrl = "{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'preview'}) }}";

        function Preview(input, preview) {

            var self = this;
            var originalMarkdown = input.val();
            this.typeTimeout = undefined;

            this.update = function () {

                var newMarkdown = input.val();
                var submitDisabled = originalMarkdown == newMarkdown;
                $("#form_actions_save").prop('disabled', submitDisabled)

                $('.loading-indicator .spinner').show();
                $.post(previewUrl, {'markdown': newMarkdown})
                        .done(function (data) {
                            preview.html(data);
                            $('.loading-indicator .spinner').hide();
                        })
                        .fail(function (data) {
                            console.error(data);
                            $('.loading-indicator .spinner').hide();
                        });
            };

            input.bind('input propertychange', function () {
                clearTimeout(self.typeTimeout);
                self.typeTimeout = setTimeout(function () {
                    self.update();
                }, 500);
            });

            this.update();
        }
        new Preview($("#form_content"), $("#preview .markdown-html"));
    </script>
{% endblock %}