{% extends "DdrGitkiBundle::scaffold.html.twig" %}

{% block ddr_gitki_body %}

    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-2"></div>

            <div class="col-lg-6 col-md-8">

                <div id="login" class="panel panel-default">

                    <div class="panel-heading">
                        <h1 class="panel-title">{{ ddr_gitki_name }} - Login</h1>
                    </div>

                    <div class="panel-body">

                        {% if error %}
                            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}

                        {% if ddr_gitki_form_login_enabled %}
                            <form action="{{ path('fos_user_security_check') }}" method="post" role="form"
                                  class="form-horizontal">

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" id="username" name="_username"
                                               value="{{ last_username }}" required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" type="password" id="password" name="_password"
                                               required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="remember_me" name="_remember_me"
                                                       value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                                               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                    </div>
                                </div>

                            </form>
                        {% endif %}

                        {% if hwi_oauth_resource_owners() and ddr_gitki_form_login_enabled %}
                            <hr />
                        {% endif %}

                        <div class="row">
                            {% for owner in hwi_oauth_resource_owners() %}
                                <div class="col-md-3">
                                    <a class="btn btn-default btn-block" href="{{ hwi_oauth_login_url(owner) }}">
                                        <span class="fa fa-fw fa-{{ owner }}"></span>
                                        {{ owner | trans({}, 'HWIOAuthBundle')|capitalize }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-3 col-md-2"></div>

        </div>
    </div>
{% endblock ddr_gitki_body %}
