{% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('ddr_gitki.user.list') }}">Users</a>
    </li>
{% endif %}

{% if app.user %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            {{ app.user.realName }}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
        </div>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('login_manual') }}">Login</a>
    </li>
{% endif %}
