{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - Issues{% endblock %}
{% block content %}
    <div class="page-header">
        {#<div class="pull-right">#}
        {#<a href="{{ path('ddr_gitki_github_issue_create') }}" class="btn btn-default">{{ icon('plus') }}</a>#}
        {#</div>#}
        <h1>Issues</h1>
    </div>
    {% for issue in issues %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">{% for label in issue.labels %}{{ label(label.name) }}{% endfor %}<br/></div>
                <h2 class="panel-title">{{ issue.title }}</h2>
            </div>
            <div class="panel-body">
                Reporter: {{ issue.user.login }}
            </div>
        </div>
    {% endfor %}
{% endblock %}