{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - Search - {{ searchString }}{% endblock %}
{% block navbar_form %}{% endblock %}
{% block container %}

    <div class="page-header">
        <h1>Search</h1>
    </div>
    {{ form(form) }}
    <hr/>
    <h2>Documents containing "{{ searchString }}"</h2>
    <ul>
        {% for result in results %}
            <li>
                [{{ result.score|number_format(2) }}] <a
                        href="{{ path('ddr_gitki_wiki_file', {'path': result.path}) }}">
                    {% if result.title is not empty %}
                        {{ result.title }}
                    {% else %}
                        {{ result.path }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}