<ol class="breadcrumb">
    <li><a href="{{ path('ddr_gitki_wiki_directory') }}">{{ icon('home') }}</a></li>
    {% if path.parentPath %}
        {% for pathSegment in path.parentPath.segments %}
            <li><a href="{{ path('ddr_gitki_wiki_directory', {'path': pathSegment ~ '/'}) }}">{{ pathSegment.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
    <li class="active">{{ path.name }}</li>
</ol>