{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block title %} - {{ path }} - Listing{% endblock %}
{% block body_class %}wiki directory-listing{% endblock %}
{% block actions %}
    {% if is_granted('ROLE_COMMITTER') %}
        <div class="dropdown pull-right global-actions">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="actions-dropdown"
                    data-toggle="dropdown">
                <span class="fa fa-cog"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="actions-dropdown">
                <li role="presentation">
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': path, 'action': 'addpage'}) }}"
                       role="menuitem" tabindex="-1" title="Add Page">
                        <span class="fa fa-fw fa-file-o"></span> Add page
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': path, 'action': 'addfolder'}) }}"
                       role="menuitem" tabindex="-1" title="Add Folder">
                        <span class="fa fa-fw fa-plus"></span> Add folder
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': path, 'action': 'upload'}) }}"
                       role="menuitem" tabindex="-1" title="Upload File">
                        <span class="fa fa-fw fa-upload"></span> Upload file
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block heading %}
    {% if path.name %}{{ path.name|dirTitle }}{% else %}<span class="fa fa-home"></span>{% endif %}
{% endblock %}
{% block content %}

    {% if directoryListing.pages is not empty %}
        <h2>Pages</h2>
        <ul class="list-unstyled">
            {% for page in directoryListing.pages %}
                <li>
                    <div class="dropdown item-actions">
                        <span class="btn btn-default btn-light btn-xs dropdown-toggle" type="button" id="dropdownMenu1"
                              data-toggle="dropdown">
                           <span class="fa fa-fw fa-file-o"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% if is_granted('ROLE_COMMITTER') %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" title="Edit"
                                       href="{{ path('ddr_gitki_wiki_file', {'path': page.absolutePath, 'action': 'edit'}) }}">
                                        <span class="fa fa-fw fa-pencil"></span> Edit
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ path('ddr_gitki_wiki_file', {'path': page.absolutePath, 'action': 'rename'}) }}"
                                       title="Rename">
                                        <span class="fa fa-fw fa-arrows-h"></span> Move
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ path('ddr_gitki_wiki_file', {'path': page.absolutePath, 'action': 'delete'}) }}"
                                       title="Delete"><span class="fa fa-fw fa-trash-o"></span> Delete
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{{ path('ddr_gitki_wiki_file', {'path': page.absolutePath, 'action': 'history'}) }}"
                                   title="History"><span class="fa fa-fw fa-history"></span> History
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="{{ path('ddr_gitki_wiki_file', {'path': page.absolutePath}) }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if directoryListing.subDirectories is not empty %}
        <h2>Directories</h2>
        <ul class="list-unstyled">
            {% for dir in directoryListing.subDirectories %}
                <li>
                    <div class="dropdown item-actions">
                        <span class="btn btn-default btn-light btn-xs dropdown-toggle" type="button" id="dropdownMenu1"
                              data-toggle="dropdown">
                            <span class="fa fa-fw fa-folder-o"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% if is_granted('ROLE_COMMITTER') %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" title="Edit"
                                       href="{{ path('ddr_gitki_wiki_directory', {'path': dir.absolutePath, 'action': 'edit'}) }}">
                                        <span class="fa fa-fw fa-pencil"></span> Edit
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ path('ddr_gitki_wiki_directory', {'path': dir.absolutePath, 'action': 'delete'}) }}"
                                       title="Delete"><span class="fa fa-fw fa-trash-o"></span> Delete
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': dir.absolutePath, 'action': 'index'}) }}">{{ dir.filename|dirTitle }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if directoryListing.otherFiles is not empty %}
        <h2>Files</h2>
        <ul class="list-unstyled">
            {% for file in directoryListing.otherFiles %}
                <li>
                    <div class="dropdown item-actions">
                        <span class="btn btn-default btn-light btn-xs dropdown-toggle" type="button" id="dropdownMenu1"
                              data-toggle="dropdown">
                            <span class="fa fa-fw fa-file-o"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% if is_granted('ROLE_COMMITTER') %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ path('ddr_gitki_wiki_file', {'path': file.absolutePath, 'action': 'rename'}) }}"
                                       title="Rename"><span class="fa fa-fw fa-arrows-h"></span> Move
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ path('ddr_gitki_wiki_file', {'path': file.absolutePath, 'action': 'delete'}) }}"
                                       title="Delete"><span class="fa fa-fw fa-trash-o"></span> Delete
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{{ path('ddr_gitki_wiki_file', {'path': file.absolutePath, 'action': 'history'}) }}"
                                   title="History"><span class="fa fa-fw fa-history"></span> History
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="{{ path('ddr_gitki_wiki_file', {'path':file.absolutePath}) }}">{{ file.filename }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}