{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - {{ path }}{% endblock %}
{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_COMMITER') %}
            <div class="btn-group pull-right">
                <a href="{{ path('ddr_gitki_wiki_directory', {'path': path, 'action': 'upload'}) }}"
                   class="btn btn-default">Upload</a>
            </div>
        {% endif %}
        {{ include('DdrGitkiBaseBundle:Wiki:directoryBreadcrumb.partial.html.twig', {'path' : directoryListing.path}) }}
    </div>

    <h2>Directories</h2>
    <ul class="list-unstyled">
        {% for dir in directoryListing.subDirectories %}
            <li>{{ icon('folder-close') }} <a
                        href="{{ path('ddr_gitki_wiki_directory', {'path': dir}) }}">{{ dir.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Pages</h2>
    <ul class="list-unstyled">
        {% for page in directoryListing.pages %}
            <li>
                {{ icon('file') }}
                <a href="{{ path('ddr_gitki_wiki_file', {'path': page}) }}">{{ page.name }}</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': page, 'action': 'edit'}) }}"
                   title="edit">{{ icon('pencil') }}</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': page, 'action': 'rename'}) }}"
                   title="rename">{{ icon('resize-horizontal') }}</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': page, 'action': 'delete'}) }}"
                   title="delete">{{ icon('trash') }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Other Files</h2>
    <ul class="list-unstyled">
        {% for file in directoryListing.otherFiles %}
            <li>
                {{ icon('file') }}
                <a href="{{ path('ddr_gitki_wiki_file', {'path': file}) }}">{{ file.name }}</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': file, 'action': 'rename'}) }}"
                   title="rename">{{ icon('resize-horizontal') }}</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': file, 'action': 'delete'}) }}"
                   title="delete">{{ icon('trash') }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}