{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>{{ directoryListing.path }}</h1>
    </div>

    <ul class="list-unstyled">
        {% for dir in directoryListing.subDirectories %}
            <li>{{ icon('folder-close') }} <a href="./{{ dir }}">{{ dir }}</a></li>
        {% endfor %}
    </ul>

    <ul class="list-unstyled">
        {% for page in directoryListing.pages %}
            <li>{{ icon('file') }} <a href="./{{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}