{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block content %}
    <div class="page-header">
        {{ include('DdrGitkiBaseBundle:Wiki:directoryBreadcrumb.partial.html.twig', {'path' : directoryListing.path}) }}
    </div>

    <h2>Directories</h2>
    <ul class="list-unstyled">
        {% for dir in directoryListing.subDirectories %}
            <li>{{ icon('folder-close') }} <a
                        href="{{ path('ddr_gitki_wiki_directory', {'path': dir ~ '/'}) }}">{{ dir.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Pages</h2>
    <ul class="list-unstyled">
        {% for page in directoryListing.pages %}
            <li>{{ icon('file') }} <a href="{{ path('ddr_gitki_wiki_page', {'path': page}) }}">{{ page.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Other Files</h2>
    <ul class="list-unstyled">
        {% for file in directoryListing.otherFiles %}
            <li>{{ icon('file') }} <a href="{{ path('ddr_gitki_wiki_show_file', {'path': file}) }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}