{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block title %} - {{ path }} - Listing{% endblock %}
{% block actions %}
    {% if is_granted('ROLE_COMMITER') %}
        <div class="btn-group actions pull-right-sm">
            <a href="{{ path('ddr_gitki_wiki_directory', {'path': path, 'action': 'upload'}) }}"
               class="btn btn-default" title="Upload File"><span class="fa fa-upload"></span></a>
        </div>
    {% endif %}
{% endblock %}
{% block heading %}
    {% if path.name %}{{ path.name }}{% else %}<span class="fa fa-home"></span>{% endif %}
{% endblock %}
{% block content %}
    <table class="table directory table-condensed">
        <thead>
        <th class="icon"></th>
        <th>Name</th>
        <th class="hidden-xs">Last Modified</th>
        <th class="actions">Actions</th>
        </thead>
        <tbody>
        {% for dir in directoryListing.subDirectories %}
            <tr>
                <td class="icon"><span class="fa fa-folder-o"></span></td>
                <td>
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': path ~ dir.relativePathname ~ '/', 'action': 'index'}) }}">{{ dir.filename }}</a>
                </td>
                <td class="hidden-xs">{{ dir.mTime|date("Y/m/d H:i:s") }}</td>
                <td class="actions">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs"
                           href="{{ path('ddr_gitki_wiki_directory', {'path': path ~ dir.relativePathname ~ '/', 'action': 'delete'}) }}"
                           title="Delete"><span class="fa fa-fw fa-trash-o"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% for page in directoryListing.pages %}
            <tr>
                <td class="icon"><span class="fa fa-file-o"></span></td>
                <td>
                    <a href="{{ path('ddr_gitki_wiki_file', {'path': path ~ page.relativePathname}) }}">{{ page.filename }}</a>
                </td>
                <td class="hidden-xs">{{ page.mTime|date("Y/m/d H:i:s") }}</td>
                <td class="actions">
                    <div class="btn-group">
                        {% if is_granted('ROLE_COMMITER') %}
                            <a class="btn btn-default btn-xs"
                               href="{{ path('ddr_gitki_wiki_file', {'path': path ~ page.relativePathname, 'action': 'edit'}) }}"
                               title="Edit"><span class="fa fa-fw fa-pencil"></span></a>
                            <a class="btn btn-default btn-xs"
                               href="{{ path('ddr_gitki_wiki_file', {'path': path ~ page.relativePathname, 'action': 'rename'}) }}"
                               title="Rename"><span class="fa fa-fw fa-arrows-h"></span></a>
                            <a class="btn btn-default btn-xs"
                               href="{{ path('ddr_gitki_wiki_file', {'path': path ~ page.relativePathname, 'action': 'delete'}) }}"
                               title="Delete"><span class="fa fa-fw fa-trash-o"></span></a>
                        {% endif %}
                        <a class="btn btn-default btn-xs"
                           href="{{ path('ddr_gitki_wiki_file', {'path': path ~ page.relativePathname, 'action': 'history'}) }}"
                           title="History"><span class="fa fa-fw fa-history"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% for file in directoryListing.otherFiles %}
            <tr>
                <td class="icon"><span class="fa fa-file-o"></span></td>
                <td>
                    <a href="{{ path('ddr_gitki_wiki_file', {'path': path ~ file.relativePathname}) }}">{{ file.filename }}</a>
                </td>
                <td class="hidden-xs">{{ file.mTime|date("Y/m/d H:i:s") }}</td>
                <td class="actions">
                    <div class="btn-group">
                        {% if is_granted('ROLE_COMMITER') %}
                            <a class="btn btn-default btn-xs"
                               href="{{ path('ddr_gitki_wiki_file', {'path': path ~ file.relativePathname, 'action': 'rename'}) }}"
                               title="Rename"><span class="fa fa-fw fa-arrows-h"></span></a>
                            <a class="btn btn-default btn-xs"
                               href="{{ path('ddr_gitki_wiki_file', {'path': path ~ file.relativePathname, 'action': 'delete'}) }}"
                               title="Delete"><span class="fa fa-fw fa-trash-o"></span></a>
                        {% endif %}
                        <a class="btn btn-default btn-xs"
                           href="{{ path('ddr_gitki_wiki_file', {'path': path ~ file.relativePathname, 'action': 'history'}) }}"
                           title="History"><span class="fa fa-fw fa-history"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}