{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - {{ path }}{% endblock %}
{% block content %}
    <div class="page-header">{{ include('DdrGitkiBaseBundle:Wiki:pageBreadcrumb.partial.html.twig', {'path' : path}) }}

        {% if is_granted('ROLE_COMMITER') %}
            <div class="btn-group pull-right">
                <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'edit'}) }}" class="btn btn-default">Edit</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'rename'}) }}" class="btn btn-default">Rename</a>
                <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'delete'}) }}" class="btn btn-default">Delete</a>
            </div>
        {% endif %}
        <h1>{{ heading }}</h1>
    </div>
    {{ body|raw }}
{% endblock %}