{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block title %} - {{ document.title }}{% endblock %}
{% block actions %}
    <div class="btn-group pull-right-sm actions">
        {% if is_granted('ROLE_COMMITER') %}
            <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'edit'}) }}" class="btn btn-default "
               title="Edit"><span class="fa fa-pencil"></span></a>
            <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'rename'}) }}"
               class="btn btn-default "
               title="Rename"><span class="fa fa-arrows-h"></span></a>
            <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'delete'}) }}"
               class="btn btn-default "
               title="Delete"><span class="fa fa-trash-o"></span></a>
            <a href="{{ path('ddr_gitki_wiki_directory', {'path': path.parentPath, 'action': 'upload'}) }}"
               class="btn btn-default " title="Upload File to containing folder"><span
                        class="fa fa-upload"></span></a>
        {% endif %}
        <a href="{{ path('ddr_gitki_wiki_directory', {'path': path.parentPath, 'action': 'show'}) }}"
           class="btn btn-default "
           title="View containing folder"><span class="fa fa-folder-o"></span></a>
        <a href="{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'history'}) }}" class="btn btn-default "
           title="History"><span class="fa fa-history"></span></a>
    </div>
{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}
    <div class="markdown-page">
        {% if ddr_gitki_show_toc and document.toc is not empty %}
            <div class="row">
                <div class="col-md-3 col-md-push-9">
                    {{ include('DdrGitkiBaseBundle:Wiki:page.toc.partial.html') }}
                </div>
                <div class="markdown-html col-md-9 col-md-pull-3">
                    {{ document.html|raw }}
                </div>
            </div>
        {% else %}
            <div class="markdown-html">
                {{ document.html|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}