{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block title %} - {{ path }} - Edit{% endblock %}
{% block body_class %}wiki edit page{% endblock %}
{% block actions %}
    <div class="btn-group pull-right global-actions">
        <a href="{{ path('ddr_gitki_about_markdownsyntax') }}" class="btn btn-default btn-sm"
           title="Syntax Help" rel="newtab"><span class="fa fa-question-circle"></span></a>
    </div>
{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}
    <div class="markdown-page">
        <div class="row editor">
            <div class="col-md-6">
                {{ form(form) }}
            </div>
            <div class="col-md-6">
                <div id="preview">
                    <div class="loading-indicator">
                        <div class="spinner">
                            <span class="fa fa-refresh fa-spin"></span>
                        </div>
                    </div>
                    <div class="markdown-html"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">

        var previewUrl = "{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'preview_markdown'}) }}";

        function Preview(input, preview) {

            var self = this;
            this.typeTimeout = undefined;

            this.update = function () {
                $('.loading-indicator .spinner').show();
                $.post(previewUrl, {'markdown': input.val()})
                        .done(function (data) {
                            preview.html(data);
                            $('.loading-indicator .spinner').hide();
                        })
                        .fail(function (data) {
                            console.error(data);
                            $('.loading-indicator .spinner').hide();
                        });
            };

            input.bind('input propertychange', function () {
                clearTimeout(self.typeTimeout);
                self.typeTimeout = setTimeout(function () {
                    self.update();
                }, 500);
            });

            this.update();
        }
        new Preview($("#form_content"), $("#preview .markdown-html"));
    </script>
    <script type="text/javascript">
        var holdLockUrl = "{{ path('ddr_gitki_wiki_file', {'path': path, 'action': 'holdlock'}) }}";
        var timeOut = undefined;
        function holdLock() {
            $.get(holdLockUrl)
                    .done(function (data) {
                        window.setTimeout(holdLock, 10000);
                    })
                    .fail(function (data) {
                        console.error(data);
                        alert("We are sorry. Holding the page lock failed (saving won't work anymore), copy your data to the clipboard, go back and try to reedit the page.")
                    });
        }
        holdLock();
    </script>
{% endblock %}