{% extends '@DdrGitki/base.html.twig' %}

{% block ddr_gitki_title %} - Users{% endblock ddr_gitki_title %}
{% block ddr_gitki_main_content %}
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-lg btn-primary" href="{{ path('ddr_gitki.user.edit', {'id': 'new'}) }}">
                <span class="fa fa-fw fa-plus"></span>
            </a>
        </div>
        <h1>Users</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Real Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.realName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | join(',') }}</td>
                <td>
                    <a href="{{ path('ddr_gitki.user.edit', {'id': user.id}) }}"><span class="fa fa-fw fa-pencil"></span></a>
                    <a href="{{ path('ddr_gitki.user.delete', {'id': user.id}) }}"><span class="fa fa-fw fa-trash-o"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock ddr_gitki_main_content %}
